<!DOCTYPE html>
<html>
<head>
    <title>Rating Predictor Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
    <style>
            .body {
              height:100%;
              width:100%;
            }
      
            .wrapper {
              height:90%;
              width:100%;
            }
    </style>      
</head>
<body>
    <div class="ui middle aligned grid wrapper">
        <div class="column">
            <div class="ui text container">
                <div class="ui segment">

                    <div class="ui center aligned huge header">{{question}}</div>
                    <form class="ui form" action="/test/{{qid}}" method="post">
                        <div class="field">
                        <label>Answer</label>
                        <input type="text" name="answer" placeholder="answer">
                        </div>
                        <div class="ui center aligned container">
                        <button class="ui button" type="submit">Submit</button>
                        </div>
                    </form>

                    <br/>

                    <div class="ui center aligned container">
                        {% if grade %}
                        <p><b>Your Answer:</b> {{ answer }}</p>
                        <p><b>Grade:</b> {{ grade }} (Rating: {{ rating }})</p>
                        {% endif %}            
                        
                        <a href="/test"><div class="ui button">Next Question</div></a>
                    </div>
                    
                    <br/>
                    
                    <div class="ui center aligned container">
                        <div class="ui big header">Grade - Rating Table</div>
                        <table class="ui celled table">
                        <thead>
                          <tr><th>Grade</th>
                          <th>Rating</th>
                        </tr></thead>
                        <tbody>
                          <tr>
                            <td data-label="Grade">A</td>
                            <td data-label="Rating">> 0.8</td>
                          </tr>
                          <tr>
                            <td data-label="Grade">B</td>
                            <td data-label="Rating">> 0.7</td>
                          </tr>
                          <tr>
                            <td data-label="Grade">C</td>
                            <td data-label="Rating">> 0.6</td>
                          </tr>
                          <tr>
                            <td data-label="Grade">D</td>
                            <td data-label="Rating">> 0.4</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>