<!DOCTYPE html>
<html>
<head>
    <title>Rating Predictor Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
    <style>
            .body {
              height:100%;
              width:100%;
            }
      
            .wrapper {
              height:90%;
              width:100%;
            }
    </style>      
</head>
<body>
    <div class="ui middle aligned grid wrapper">
        <div class="column">
            <div class="ui text container">
                <div class="ui segment">

                    <div class="ui center aligned huge header">{{question}}</div>
                    <form class="ui form" action="/test/{{qid}}" method="post">
                        <div class="field">
                        <label>Answer</label>
                        <input type="text" name="answer" placeholder="answer">
                        </div>
                        <div class="ui center aligned container">
                        <button class="ui button" type="submit">Submit</button>
                        </div>
                    </form>

                    <br/>

                    <div class="ui center aligned container">
                        {% if grade %}
                        <p><b>Your Answer:</b> {{ answer }}</p>
                        <p><b>Grade:</b> {{ grade }}</p>
                        {% endif %}            
                        
                        <a href="/test"><div class="ui button">Next Question</div></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>